#login-wrapper{
    margin-top: 100px;
}

a.normal{
    color: #4d79a5;
    text-decoration: underline;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: #b4b4b4;
}

body.login{
    background: rgba(255, 251, 231, 0.33);
}
