<!DOCTYPE html>
<html>

<head>
    <title>登入</title>

	<meta charset="utf-8" />
 
</head>

<body>
	
    <div>
        <form class="form-signin" action="/login_user" method="POST" name="login_user_form">


        <h1>登入</h1>
        <label for="email">請輸入Email:
        <input id="email" type="text" class="form-control" name="email" placeholder="Email Address" required value=""
                autofocus="" /></label>
        <br>
        <label for="password">請輸入密碼: 
        <input id="password" type="password" class="form-control" name="password" placeholder="Password" required value=""></label>
        <br>
        <input type="checkbox" name="rememberMe" id="rememberMe" value="y">
			  <label for="rememberMe"><b>記住我</b></label>
            <br>
            <input id="submit" name="submit" type="submit" value="登入"><br>
		</form>
	</div>
</body>
</html>